Web References/ar.com.antina.pdfgen.prod/WSGeneracionComprobantes.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="SGenerarComprobante">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sNumeroComprobante" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="escopia" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SGenerarComprobanteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SGenerarComprobanteResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SGenerarComprobanteruta">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sNumeroComprobante" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sruta" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SGenerarComprobanterutaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SGenerarComprobanterutaResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SGenerarComprobanteSoapIn">
    <wsdl:part name="parameters" element="tns:SGenerarComprobante" />
  </wsdl:message>
  <wsdl:message name="SGenerarComprobanteSoapOut">
    <wsdl:part name="parameters" element="tns:SGenerarComprobanteResponse" />
  </wsdl:message>
  <wsdl:message name="SGenerarComprobanterutaSoapIn">
    <wsdl:part name="parameters" element="tns:SGenerarComprobanteruta" />
  </wsdl:message>
  <wsdl:message name="SGenerarComprobanterutaSoapOut">
    <wsdl:part name="parameters" element="tns:SGenerarComprobanterutaResponse" />
  </wsdl:message>
  <wsdl:portType name="WSGeneracionComprobantesSoap">
    <wsdl:operation name="SGenerarComprobante">
      <wsdl:input message="tns:SGenerarComprobanteSoapIn" />
      <wsdl:output message="tns:SGenerarComprobanteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SGenerarComprobanteruta">
      <wsdl:input message="tns:SGenerarComprobanterutaSoapIn" />
      <wsdl:output message="tns:SGenerarComprobanterutaSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSGeneracionComprobantesSoap" type="tns:WSGeneracionComprobantesSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SGenerarComprobante">
      <soap:operation soapAction="http://tempuri.org/SGenerarComprobante" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SGenerarComprobanteruta">
      <soap:operation soapAction="http://tempuri.org/SGenerarComprobanteruta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WSGeneracionComprobantesSoap12" type="tns:WSGeneracionComprobantesSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SGenerarComprobante">
      <soap12:operation soapAction="http://tempuri.org/SGenerarComprobante" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SGenerarComprobanteruta">
      <soap12:operation soapAction="http://tempuri.org/SGenerarComprobanteruta" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WSGeneracionComprobantes">
    <wsdl:port name="WSGeneracionComprobantesSoap" binding="tns:WSGeneracionComprobantesSoap">
      <soap:address location="http://prod.pdfgen.antina.com.ar/WSGeneracionComprobantes.asmx" />
    </wsdl:port>
    <wsdl:port name="WSGeneracionComprobantesSoap12" binding="tns:WSGeneracionComprobantesSoap12">
      <soap12:address location="http://prod.pdfgen.antina.com.ar/WSGeneracionComprobantes.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>